header{
    width: 100%;
    height: 40px;
    display: flex;
    border: 2px solid; 
}

img{
    height: auto;
    max-width: 100%;
    
}

#title-container{
    background-color:red;
}

#title{
    /* padding-top: 8%; */
    margin: auto;
    background-color: blue; 
    
    height: 100%;

}

