header{
    width: 98%;
    height: 60px;
    display: flex;
    border-bottom: 2px solid; 
    background-color: white;
}

img{
    height: auto;
    max-width: 100%;
    
}


#title{
    margin: 0;
     font-size: 45px;
    height: 100%;
}

.recipe-row{
    height: 350px;
    display: flex;
    margin-top: 5px;
    width: 98%;
}

#cookies-container{

    height: 90%;
    width: 100%;
    margin: auto;
}

.recipe-img-home{
    height: 100%;
    width: 320px;
}

.recipe-title-home{
    text-align: center;
    margin: auto;
    
}

#main-cookies{
    margin: 15px;
}

.recipe-title-recipe-page{
    font-family: 'Brush Script MT', cursive;
    font-size: 60px;
}

ul, ol{
    font-size: 20px;
}
li{
    margin-bottom: 7px;
}

.recipe-img-recipe-page{
    height: 250px;
    width: 300px;
}